@import "var.scss";
$color-store:#4294B2;
/*=======STORE PAGE=====*/


/*==========HEADER===============*/
.header-block-store {
	color: #333;
	background: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: height .5s;
	-webkit-transition: height .5s;

	#search {
		border: 1px solid $border;

		.icon_seach_web {
			height: 38px;

			svg {
				fill: #333;
			}
		}

		.warp-search {
			width: calc(100%) !important;
		}

		.input_search {
			min-width: 100%;
		}
	}

	.user-segment,
	.cart-segment {
		.t_usermnu {
			color: #333;
		}

		svg {
			fill: $colormain
		}

		.cart_num {
			background: $color2;
			color: #fff
		}
	}

	.menu-main {
		transition-duration: 250ms;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

		.level1 {
			a {
				color: #333;

				svg {
					fill: #333;
				}
			}
		}
	}

	&.sticky {
		height: 65px;

		.menu-main {
			-webkit-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			transform: translateY(-100%);
			opacity: 0;
		}
	}
}

.store_s1 {
	background: #4496B3;

	.img-banner {
		height: 260px;
		width: 50%;
	}

	.content {
		width: 50%;
		padding-right: 20%;
		padding-right: calc((100% - 1170px)/2);
		padding-top: 60px;
		padding-left: 40px;
		color: #fff;
		min-height: 260px;

		.title {
			font-weight: 300;
			font-size: 24px;
			margin-bottom: 15px;
		}

		.link-store {
			color: #fff;
			display: inline-block;
			margin-top: 50px;

			svg {
				width: 24px;
				height: 24px;
				fill: #fff;
				vertical-align: bottom
			}
		}
	}
}

.store_s2 {
	color: #6F6F6F;
	padding: 15px 0;

	p {
		font-size: 13px;
		margin-bottom: 10px;
	}

	span {
		font-size: 12px;
		display: block;
		margin-top: 5px;
	}

	.list_store {
		display: flex;

		.item {
			color: #6F6F6F;
			text-align: center;
			width: 7.142%;
			display: inline-block;
			vertical-align: top;

			img {
				box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
				border-radius: 50%;
				border: 1px solid #eaeaea;
			}
		}
	}

	@media (max-width: 768px) {
		.list_store {
			display: block;
			font-size: 0;
			text-align: center;

			.item {
				width: 12.5%;
				margin-bottom: 10px;
			}
		}
	}
}

.store_s3 {
	background: url(images/graphics/store-banner2.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 60px 0;

	.title_gradent2 {
		text-align: center;
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 32px;
	}

	.qa-home {
		margin-bottom: 0;

		.tab {
			background: rgba(249, 249, 249, 0.2);

			a {
				color: #F2F2F2;

				&.active {
					background: rgba(66, 148, 178, 0.8);
					border-bottom: 0;
				}
			}
		}

		.tab-container {
			padding: 20px 30px 30px 30px;

			p {
				margin-bottom: 15px;
			}

			.img {
				width: 200px !important;

				img {
					box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
					border-radius: 50%;
					width: 100%;
					border: 1px solid #eaeaea;
				}
			}

			.link-store {
				font-weight: bold;
				font-size: 16px;
				display: inline-block;
				margin-top: 50px;

				svg {
					fill: $color-store;
					width: 24px;
					height: 24px;
					vertical-align: bottom;
				}
			}

			.color_ylow {
				color: $color2;

				svg {
					fill: $colormain2;
				}
			}
		}
	}
}

.store_s4 {
	float: left;
	width: 100%;

	.item {
		float: left;
		width: 100%;
		margin: 15px 0;

		.img-main {
			img {
				box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4)
			}
		}

		.col-50 {
			width: 50%;
			float: left;
		}

		&:nth-child(2n) {
			.text-main {
				float: right;
				padding-left: 60px;
			}
		}
	}

	.text-main {
		padding-top: 32px;
		font-size: 16px;

		h2 {
			color: $color2;
			font-weight: bold;
			font-size: 48px;
			display: block;
		}

		.lead {
			font-weight: 300;
			font-size: 24px;
			margin-bottom: 32px;
		}

		p {
			color: #666;
			margin-bottom: 10px;
		}

		.link-store {
			font-weight: bold;
			display: inline-block;
			margin-top: 20px;

			svg {
				fill: $color-store;
				width: 24px;
				height: 24px;
				vertical-align: bottom;
			}
		}
	}

	.img-main {
		img {
			display: block;
		}
	}
}

.box_search {
	margin: 32px 0 54px 0;
	background: $color-store;
	padding: 20px 32px;
	float: left;
	width: 100%;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);

	form {
		width: 100%;
		position: relative;

		input {
			background: #FFFFFF;
			border-radius: 3px;
			height: 48px;
			padding: 0 20px;
			width: 60%;
			width: calc(100% - 268px);
		}

		button {
			background: #F2F2F2;
			line-height: 48px;
			color: #666;
			width: 250px;
			font-weight: bold;
			border: 0;
			font-size: 14px;
			padding: 0 10px;
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
			border-radius: 3px;

			svg {
				fill: #666;
				width: 20px;
				height: 20px;
				margin-right: 5px;
			}
		}
	}
}

.title_sub {
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 40px;
}

.store_s5 {
	float: left;
	width: 100%;

	.sale-home {
		float: left;
		width: 100%;
		margin-bottom: 45px;

		.col {
			width: 570px;
			float: left;
			padding-left: 0;

			.item {
				.info {
					h3 {
						background: rgba(66, 148, 178, 0.8);
					}
				}
			}
		}

		.list-category {
			width: 510px;
			float: right;

			.flex {
				margin-left: 0;
			}

			.td1 {
				width: 315px;
				background: #FFFFFF;
				border: 1px solid #B9B8B8;
				box-sizing: border-box;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

				h3 {
					font-size: 16px;
					line-height: 19px;
					border-bottom: 1px solid $border;
					padding: 20px 30px
				}

				.cate {
					padding: 30px 30px 73px 30px;

					a {
						color: #333;
						font-size: 13px;
						display: block;
						font-weight: 400;
						padding: 5px 0;

						&.active,
						&:hover {
							color: #B9B8B8;
						}
					}
				}
			}

			.td2 {
				width: 195px;
				background: linear-gradient(174.04deg, #4496B3 21.49%, #63AFC2 97.98%);
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				position: relative;

				img {
					position: absolute;
					top: 50%;
					left: 50px;
					transform: translate(0%, -50%);
					-webkit-transform: translate(0%, -50%);
					-moz-transform: translate(0%, -50%);
					-ms-transform: translate(0%, -50%);
				}
			}
		}
	}
}

.store_s6 {
	.title_sub {
		svg {
			vertical-align: text-bottom;
		}
	}
}


// Changer Color store
.store_amazon {

	.store_s1,
	.box_search {
		background: #232F3E;
	}

	.link-store svg {
		fill: #232F3E !important;
	}

	.store_s3 .qa-home .tab a.active,
	.store_s5 .sale-home .col .item .info h3 {
		background: rgba(35, 47, 62, 0.84);
	}

	.store_s5 .sale-home .list-category .td2 {
		background: linear-gradient(174.04deg, #232F3E 21.49%, rgba(35, 47, 62, 0.84) 97.98%);
	}
}

.store_joma {

	.store_s1,
	.box_search {
		background: #1D75B3;
	}

	.link-store svg {
		fill: #1D75B3 !important;
	}

	.store_s3 .qa-home .tab a.active,
	.store_s5 .sale-home .col .item .info h3 {
		background: rgba(29, 117, 179, 0.84);
	}

	.store_s5 .sale-home .list-category .td2 {
		background: linear-gradient(174.04deg, #1D75B3 21.49%, rgba(29, 117, 179, 0.84) 97.98%);
	}

}

.store_best {

	.store_s1,
	.box_search {
		background: #0046BE;
	}

	.link-store svg {
		fill: #0046BE !important;
	}

	.store_s3 .qa-home .tab a.active,
	.store_s5 .sale-home .col .item .info h3 {
		background: rgba(0, 70, 190, 0.84);
	}

	.store_s5 .sale-home .list-category .td2 {
		background: linear-gradient(174.04deg, #0046BE 21.49%, rgba(0, 70, 190, 0.84) 97.98%);
	}
}

.store_lacoste {

	.store_s1,
	.box_search {
		background: #004526;
	}

	.link-store svg {
		fill: #004526 !important;
	}

	.store_s3 .qa-home .tab a.active,
	.store_s5 .sale-home .col .item .info h3 {
		background: rgba(0, 69, 38, 0.84);
	}

	.store_s5 .sale-home .list-category .td2 {
		background: linear-gradient(174.04deg, #004526 21.49%, rgba(0, 69, 38, 0.84) 97.98%);
	}
}

.store_costco {

	.store_s1,
	.box_search {
		background: #005BAD;
	}

	.link-store svg {
		fill: #005BAD !important;
	}

	.store_s3 .qa-home .tab a.active,
	.store_s5 .sale-home .col .item .info h3 {
		background: rgba(0, 91, 173, 0.84);
	}

	.store_s5 .sale-home .list-category .td2 {
		background: linear-gradient(174.04deg, #005BAD 21.49%, rgba(0, 91, 173, 0.84) 97.98%);
	}
}

.store_mac {

	.store_s1,
	.box_search {
		background: #E70000;
	}

	.link-store svg {
		fill: #E70000 !important;
	}

	.store_s3 .qa-home .tab a.active,
	.store_s5 .sale-home .col .item .info h3 {
		background: rgba(231, 0, 0, 0.84);
	}

	.store_s5 .sale-home .list-category .td2 {
		background: linear-gradient(174.04deg, #E70000 21.49%, rgba(231, 0, 0, 0.84) 97.98%);
	}
}

.store_h {

	.store_s1,
	.box_search {
		background: #003595;
	}

	.link-store svg {
		fill: #003595 !important;
	}

	.store_s3 .qa-home .tab a.active,
	.store_s5 .sale-home .col .item .info h3 {
		background: rgba(0, 53, 149, 0.84);
	}

	.store_s5 .sale-home .list-category .td2 {
		background: linear-gradient(174.04deg, #003595 21.49%, rgba(0, 53, 149, 0.84) 97.98%);
	}
}

.store_l {

	.store_s1,
	.box_search {
		background: #000000;
	}

	.link-store svg {
		fill: #000000 !important;
	}

	.store_s3 .qa-home .tab a.active,
	.store_s5 .sale-home .col .item .info h3 {
		background: rgba(35, 47, 62, 0.84);
	}

	.store_s5 .sale-home .list-category .td2 {
		background: linear-gradient(174.04deg, #000000 21.49%, rgba(35, 47, 62, 0.84) 97.98%);
	}
}

.store_rack {

	.store_s1,
	.box_search {
		background: #2BA2C0;
	}

	.link-store svg {
		fill: #2BA2C0 !important;
	}

	.store_s3 .qa-home .tab a.active,
	.store_s5 .sale-home .col .item .info h3 {
		background: rgba(43, 162, 192, 0.84);
	}

	.store_s5 .sale-home .list-category .td2 {
		background: linear-gradient(174.04deg, #2BA2C0 21.49%, rgba(43, 162, 192, 0.84) 97.98%);
	}
}

.store_vs {

	.store_s1,
	.box_search {
		background: #F1396D;
	}

	.link-store svg {
		fill: #F1396D !important;
	}

	.store_s3 .qa-home .tab a.active,
	.store_s5 .sale-home .col .item .info h3 {
		background: rgba(241, 57, 109, 0.84);
	}

	.store_s5 .sale-home .list-category .td2 {
		background: linear-gradient(174.04deg, #F1396D 21.49%, rgba(241, 57, 109, 0.84) 97.98%);
	}
}

@media (max-width: 1169px) {
	.store_s1 {
		.content {
			width: 50%;
			padding: 40px 15px 0 40px;
		}
	}

	.store_s5 .sale-home {
		.col {
			width: calc(100% - 550px);
		}
	}
}

@media (max-width: 1024px) {
	.store_s4 {
		.item {
			margin-bottom: 30px;

			&:nth-child(2n) {
				.text-main {
					padding-left: 30px;
				}
			}
		}

		.text-main {
			padding-right: 20px;
			padding-top: 10px;
		}
	}
}

@media (max-width: 1000px) {
	.store_s1 {
		.content {
			width: 50%;
			padding: 20px 15px 0 20px;

			.link-store {
				margin-top: 30px;
			}
		}
	}

	.store_s3 .qa-home .tab a {
		font-size: 13px;
	}
}

@media (max-width: 860px) {
	.store_s5 .sale-home {
		.col {
			width: calc(100% - 330px);
		}

		.list-category {
			width: 300px;

			.td1 {
				width: 100%;
			}

			.td2 {
				display: none;
			}
		}
	}
}

/*====END STORE PAGE====*/