@import "var.scss";

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background: #e5e5e5;
}

.container {
  max-width: 100%;
}

.white {
  background: white
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto', sans-serif;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

/*css tu dinh nghia*/
.mgrb_10 {
  margin-bottom: 12px;
}

.color_ylow {
  color: #DBA510;
}

.color_green {
  color: #236852;
}

.black {
  color: #333 !important;
}

b,
strong {
  font-weight: 500
}

$color1:#236852;

body {
  max-width: 590px;
  margin: 0 auto
}

.bg_white {
  background: #fff
}

.section_inner {
  padding: 0 12px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.no-gutters-left {
  padding-left: 0;
}

.no-gutters-right {
  padding-right: 0;
}

.hide {
  display: none;
}

a:focus {
  outline: 1 !important;
}

.btn_next,
.btn_prev {
  position: absolute;
  height: 28px;
  line-height: 28px;
  width: 28px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9;
  top: 30%;
  text-align: center;
}

.box_category {
  margin-bottom: 15px;
  float: left;
  width: 100%;
}

.banner_mobile_300x250 {
  background: #f4f4f4;
  font-size: 0;
}

a {
  color: #333;
  text-decoration: none;
  outline: 1;
}

.btn,
button {
  font-family: $fontmain
}

.section {
  width: 100%;
  float: left;
  position: relative;
}

.flex {
  display: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.width_common {
  width: 100%;
  float: left;
}

.center {
  text-align: center;
}

.navigation_scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#to_top {
  color: #00507f;
  font-size: 20px;
  display: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  bottom: 20px;
  cursor: pointer;
  text-align: center;
  height: 45px;
  line-height: 45px;
  outline: medium none;
  padding: 0;
  position: fixed;
  right: 20px;
  width: 40px;
  z-index: 89;

  .icon-ns {
    margin: 0;
    color: #fff;
  }
}

img {
  border: 0;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

.detail_tin {
  ul {
    padding-left: 15px;

    li {
      margin-bottom: 10px;
      list-style-type: disc;
    }
  }

  ol {
    li {
      margin-bottom: 5px;
      list-style-type: inherit;
    }
  }
}

input,
textarea {
  font-family: arial;
  font-size: 11px;
  border: none;
  background: none;

}

.radius10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.radius3 {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.radius5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.radius50 {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.transition_ease {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

input::-webkit-input-placeholder {
  color: #B9B8B8;
}

input::-moz-input-placeholder {
  color: #B9B8B8;
}

input::-ms-input-placeholder {
  color: #B9B8B8;
}

input::-o-input-placeholder {
  color: #B9B8B8;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.clearfix {
  clear: both;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding: 0 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.width_common {
  width: 100%;
  float: left;
}

.hidden320 {
  font-size: 0;
}

html {
  -webkit-text-size-adjust: none;
}

.no_wrap {
  white-space: nowrap;
}

.txt_666 {
  color: #666;
}

.txt_6f6 {
  color: #6f6f6f
}

.txt_10 {
  font-size: 10px;
}

.txt_11 {
  font-size: 11px;
}

.txt_12 {
  font-size: 12px;
}

.txt_13 {
  font-size: 13px;
}

.txt_14 {
  font-size: 14px;
}

.txt_16 {
  font-size: 16px;
}

.txt_vne {
  color: #9f224e;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.icon-us {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.color_ylow {
  color: $color2
}

.color_green {
  color: $colormain
}

.color_green2 {
  color: $colormain2
}

.color_black {
  color: #333;
}

.error {
  color: #E21937;
  font-size: 13px;
}

.text_error {
  color: #E21937
}

.bg_gray {
  background: #f8f8f6;
}

.line-12px {
  border-top: 12px solid #e5e5e5;
}

.line-8px {
  border-top: 8px solid #e5e5e5;
}

.line-bottom {
  border-top: 12px solid #e5e5e5;
}

.mar_am {
  margin-left: -12px;
  margin-right: -12px;
}

.fs {
  font-size: 0
}

.price {
  em {
    font-style: inherit;
    border-bottom: 1px solid;
    display: inline-block;
    line-height: 0.9
  }
}

.form-control,
.input_form {
  &::-webkit-input-placeholder {
    color: #B9B8B8;
  }

  &::-moz-placeholder {
    color: #B9B8B8;
  }

  &:-ms-input-placeholder {
    color: #B9B8B8;
  }

  &:-moz-placeholder {
    color: #B9B8B8;
  }
}

.ava img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.thumb_big {
  position: relative;
}

.thumb_art {
  position: relative;
  float: left;
}

.thumb {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: #f8f8f6;
}

.thumb.thumb_video {
  padding-bottom: 56.25%;
}

.thumb.thumb_5x3 {
  padding-bottom: 60%;
}

.thumb.thumb_5x4 {
  padding-bottom: 74%;
}

.thumb.thumb_2x3 {
  padding-bottom: 138%;
}

.thumb.thumb_5x5 {
  padding-bottom: 100%;
}

.thumb_video {
  padding-bottom: 56.25%
}

.thumb img {
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@keyframes logoAnimation {
  0% {
    opacity: 1;
    background-position: 0 0
  }

  80% {
    opacity: 1
  }

  99% {
    display: block
  }

  100% {
    display: none;
    opacity: 0;
    background-position: 0 -896px
  }
}